
<ul class="grid product-grid grid--2-col-tablet-down grid--4-col-desktop">
    <% for (var i = 0; i < courses.length; i++) { %>
  
      <% if (courses.length < 1) { %>
  
        <div class="title-wrapper center">
          <h2 class="title title--primary">
            No products found<br>
            Use fewer filters or <a class="underlined-link link" href="/collections/frontpage">remove all</a>
          </h2>
        </div>
  
      <%} else { %>
  
        <li class="grid__item">
          <link href="//cdn.shopify.com/s/files/1/0696/9969/9001/t/1/assets/component-rating.css?v=24573085263941240431671686110" rel="stylesheet" type="text/css" media="all">
          <div class="card-wrapper product-card-wrapper underline-links-hover">
            <div class="card card--standard card--text" style="--ratio-percent: 100%;">
              <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;">
                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__heading" id="title-template--17315021521209__product-grid-8047766995257">
                      <a href="/products/photovoltaics-fundamentals" id="StandardCardNoMediaLink-template--17315021521209__product-grid-8047766995257" class="full-unstyled-link"
                      aria-labelledby="StandardCardNoMediaLink-template--17315021521209__product-grid-8047766995257 NoMediaStandardBadge-template--17315021521209__product-grid-8047766995257">
                      <%= courses[i].displayname %>
  
                    </a>
                  </h3>
                </div>
                <div class="card__badge bottom left"></div>
              </div>
            </div>
            <div class="card__content">
              <div class="card__information">
                <h3 class="card__heading h5">
                  <a href="/products/photovoltaics-fundamentals" id="CardLink-template--17315021521209__product-grid-8047766995257" class="full-unstyled-link"
                  aria-labelledby="CardLink-template--17315021521209__product-grid-8047766995257 Badge-template--17315021521209__product-grid-8047766995257">
                  <%= courses[i].displayname %>
                </a>
              </h3>
              <div class="card-information"><span class="caption-large light"></span>
                <div class="price ">
                  <div class="price__container">
                    <div class="price__regular">
                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      <span class="price-item price-item--regular">
                      </span>
                    </div>
                    <div class="price__sale">
                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      <span>
                        <s class="price-item price-item--regular">
                        </s>
                      </span><span class="visually-hidden visually-hidden--inline">Sale price</span>
                      <span class="price-item price-item--sale price-item--last">
                      </span>
                    </div>
                    <small class="unit-price caption hidden">
                      <span class="visually-hidden">Unit price</span>
                      <span class="price-item price-item--last">
                        <span></span>
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                        <span>
                        </span>
                      </span>
                    </small>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="card__badge bottom left"></div>
          </div>
        </div>
      </div>
        </li>
  
        <% } %>
    <% } %>
  </ul>
  