<div class="shopify-section section">
  <div class="collection-hero color-background-1 gradient">
    <div class="collection-hero__inner page-width">
      <div class="collection-hero__text-wrapper">
        <h1 class="collection-hero__title">
          <span class="visually-hidden">Collection: </span>My Courses
        </h1>
        <div class="collection-hero__description rte"></div>
      </div>
    </div>
  </div>
</div>

<div class="shopify-section section">
  <div class="section-template--17315021521209__product-grid-padding">
    <div class="">
      <div class="product-grid-container" id="ProductGridContainer">
        <div id="my-courses" class="collection page-width">
          {% if customer %}


          {% else %}

            <div class="title-wrapper center">
              <h2 class="title title--primary">
                Please log in to your account to view this page.<br>
              </h2>
            </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
(function() {

  function liquidFunction() {

    fetch(`https://${window.top.Shopify.shop}/apps/moodle-app/api/fetch/courses`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            customerEmail      : '{{ customer.email }}',
        })
    })
    .then(response => response.text())
    .then(data => {
      document.querySelector('#my-courses').innerHTML = data
    });

  }

  if ('{{ customer.email }}') {
    liquidFunction();
  }


})();

</script>
