<div class="product-grid-container">
    <div class="collection page-width">
      hi
  
      <% for (var i = 0; i < courses.length; i++) { %>
        <%= courses[i].name %>
      <% } %>
  
      {%- assign up_title = 'hello world' | upcase -%}
      {{ up_title }}
  
    </div>
</div>
  